.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    animation: slideDown 0.3s ease-in-out;
}

.reset-label {
    margin-top: 12px;
    font-weight: 600;
    position: absolute;
    top: 25px;
}

.reset-button {
    background-color: #0d62cc;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 25px;
    outline: none;
}

.reset-button:focus {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.reset-button:hover {
    box-shadow: 0px 1px 22px -8px #0062cc;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.modal-pass {
    width: 80%;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

@keyframes slideDown {
    0% {
        top: -40%;
    } 100% {
        top: 40%;
    }
}