.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 800px) { 
    .login-form-2 {
        background: none !important;
        box-shadow: none !important;
    }

    .banner {
        display: none !important;
    }

    .back-image {
        background-color: #0062cc !important;
    }
}

.login-form-2 h3{
    text-align: center;
    color: #fff;
}

.login-container form{
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
    font-size: 15px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
}

.login-form-2 .btnSubmit:hover {
    color: #014c9c;
    box-shadow: 0px 0px 2px 2px white;
    transition: all 0.3s ease-in-out;
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ForgetPwd:hover {
    cursor: pointer;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
}

.back-image {
    background-image: url('./../../Assets/Images/new_bg.png');
    /* opacity: 0.5; */
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-position: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: 20px;
    font-weight: 900;
    color: #407bc4;
}

.register-page:hover {
    cursor: pointer;
    color: rgb(130, 164, 206);
    transition: all 0.3s ease-in-out;
}