.logout-button {
    position: absolute;
    right: 17px;
    border: none;
    height: 36px;
    border-radius: 5px;
    width: 105px;
    color: #717171;
    background-color: white;
    box-shadow: 0px 1px 4px 1px #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-button-sm {
    border: none;
    height: 36px;
    border-radius: 5px;
    width: 105px;
    color: #717171;
    background-color: white;
    box-shadow: 0px 1px 4px 1px #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -13px;
}

.navbar-style {
    box-shadow: 0px 1px 7px 3px #e2e2e2;
}

.navbar-style-sm {
    box-shadow: 0px 1px 7px 3px #e2e2e2;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-icon {
    height: 18px;
    width: 18px;
    margin-right: 4px;
    margin-top: 1px;
}

.logout-button:hover {
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 1px 23px 5px #ececec;
    transition: all 0.3s ease-in-out;
}

.logout-button:focus {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.web-url {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    outline: none;
    text-decoration: none;
    border-radius: 0px;
    padding-right: 34px;
}

.web-url::placeholder {
    color: rgb(184, 184, 184);
}

.web-url:focus {
    color: grey;
    background-color: transparent;
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.text-field-container {
    width: 70%;
}

.url-form {
    position: relative;
}

.submit-url-form {
    border: none;
    border-radius: 0;
    background: none;
    position: absolute;
    top: 5px;
    right: 2px;
}

.submit-url-form:focus {
    color: grey;
    background-color: transparent;
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.submit-url-form {
    cursor: pointer;
}

.enter-icon {
    height: 20px;
}