.main-section-container {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    height: calc(100vh - 7vh);
}

.webpage-frame {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.iframe-css {
    border: 1px solid #d8d8d8;
}

@media (max-width: 767px) {
    .webpage-frame {
        width: 100%;
        height: 50% !important;
        margin: 0;
        padding: 0;
    }
}